<div class="container">
  <div class="row">
<div class="intro-header">

        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="intro-message">
                        <h1>Dale's Page</h1>
                        <h3 class="intro-subheader">
                          <%= link_to "pages by dale", example_path, style: 'color:#FFF' %>
                        </h3>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    </div>
  </div>
</div>