<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Dale Foo</h1>

<!--       do some ruby code -->    
      <%= link_to "Go to another page by ruby", example_path %><br>
      <%= link_to "Go to Facebook", 'http://www.facebook.com'%>

    </div>
  </div>
</div>