<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>HIHI</h1>
      <a href="/harry">Go to the Harry page by a href</a></br>
<!--       do some ruby code -->    
      <%= link_to "Go to the Harry page by ruby", harry_path %><br>
      <%= link_to "Go to Facebook", 'http://www.facebook.com'%>
    </div>
  </div>
</div>